@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #03001e;
  background: -webkit-linear-gradient(to bottom, #03001e, #7303c0, #ec38bc);
  background: linear-gradient(to bottom, #03001e, #7303c0, #ec38bc);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
